* {
  margin: 0;     
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #000;
  overflow: hidden;
}

.signup-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh; 
}

.left_panel {
  flex: 1; 
  position: relative; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-right: 1px solid #eee; 
  margin: 5rem 0;
}

.logo_area img {
  width: 16rem;
}

.image_placeholder {
  position: absolute; 
}

.top {
  top: -5rem;
  left: -5px;
}

.top img {
  width: 18rem;
  height: 19rem;
}

.bottom { 
  bottom: -12.2rem;
  right: 1.5rem;  
  transform: rotate(-133deg);
}

.bottom img {
  width: 20rem;
  height: 20rem;
}

.right-panel {
  position: relative;
  display: flex;
  flex: 1; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 4rem;
  text-align: center;
}

.right-panel h1 {
  font-size: 3.2rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 5rem;
}

.right-panel h2 {
  font-size: 2.4rem;
  font-weight: 400;
  padding-bottom: 2rem;
}

.right-panel h3 {
  font-size: 1.6rem;
  font-weight: lighter;
  padding-bottom: 5rem;
  width: 23.3rem;
  word-spacing: 3px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 37.7rem;
}

.form-group input {
  height: 4.8rem;
  padding: 1rem;
  border-radius: 5px;
  border: 0.8px solid #E6E6E6;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.signup-btn {
  padding: 1rem;
  border-radius: 8px;
  background: #D84444;
  color: #fff;
  border: none;
  height: 4.4rem;
  width: 100%;
  font-size: 1.6rem;
  transition: 0.3s;
}

.signup-btn:hover {
  cursor: pointer;
  background: #bf3b3b;
  transform: translateY(-1px);
}

.pre_user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.6rem;
  margin-top: 1rem;
}

.pre_user a {
  text-decoration: none;
  color: #000;
  font-weight: bolder;
  transition: 0.3s;
}

.pre_user a:hover {
  color: #D84444;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 950px) {
  .signup-container {
    flex-direction: column;
    height: auto;
  }

  .left_panel {
    flex: none;
    border-right: none;
    margin: 2rem 0;
  }

  .logo_area img {
    width: 12rem;
  }

  .right-panel {
    padding: 2rem;
  }

  .form-group {
    width: 90%;
  }

  .right-panel h1 {
    font-size: 2.6rem;
  }

  .right-panel h2 {
    font-size: 2rem;
  }

  .right-panel h3 {
    font-size: 1.4rem;
    width: auto;
  }
}
