* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
}

html {
    font-size: 62.5%;
}

@media (max-width: 1200px) {
    html {
        font-size: 60%;
    }
}

@media (max-width: 900px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 800px) {
    html {
        font-size: 45%;
    }
}

@media (max-width: 720px) {
    html {
        font-size: 40%;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 30%;
    }
}

body {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #000;
    overflow: hidden;
}


.signup-container {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh; 
}

.left_panel {
    flex: 1; 
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-right: 1px solid #eee; 
    margin: 5rem 0;
}

.logo_area {
    display: flex;
    align-items: center;
    gap: 8px;
}

.image_placeholder {
    position: absolute; 
}

.top {
    top: -5rem;
    left: -5px;
}

.top img {
    width: 18rem;
    height: 19rem;
}

.bottom { 
    bottom: -12.2rem;
    right: 1.5rem;  
    transform: rotate(-133deg);
}

.bottom img {
    width: 20rem;
    height: 20rem;
}

.right-panel {
  position: relative;
    display: flex;
    flex: 1; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
    font-family: sans-serif;
    margin-top: 1rem;
}

.right-panel h1 {
    font-size: 3.2rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 5rem;
    
}

.right-panel h2 {
    font-size: 2.4rem;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 2rem;
}

.right-panel h3 {
    font-size: 1.6rem;
    font-weight:lighter;
    font-style: normal;
    padding-bottom: 5rem;
    width: 23.3rem;
    word-spacing: 3px;
    text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 37.7rem;
}

.form-group input {
  height: 4.8rem;
  padding: 1rem;
  justify-content: flex-end;
  align-items: center;
  align-self: stretch;
  border-radius: 5px;
  border: 0.8px solid #E6E6E6;
  height: 4.4rem;
  margin-bottom: 1.5rem;
}

.signup-btn {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  background: #D84444;
  color: #fff;
  margin: 0 0 2rem;
  border: none;
  height: 4.4rem;
}

.signup-btn:hover {
    cursor: pointer;
    background: #bf3b3b;
    transform: translateY(-1px);
    transition: 0.3s;
}

.pre_user {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 400;
    font-style: normal;
}
   
.pre_user a {
    text-decoration: none;
    color: #000;
    font-weight: bolder;
    padding: 5px;
}
.pre_user a:hover {
    color: blue;
    font-size: large;
    transition: 0.3s;
}