* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.forgot-password {
    display: flex;

}

img {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

.recover {
    padding-top: 200px;
    padding-left:  200px;
    padding-right:  200px;
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.firstHeading {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

h2 {
    font-weight: 700;
    font-size: 40px;
}

.firstHeading p {
    font-size: 20px;
    text-align: center;
}

.secondHeading{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-weight: 600;
}

.input-part {
    display: flex;
    flex-direction: column;
    gap: 35px;
}


label {
    font-size: 20px;
    font-weight: 600;
}


input {
    display: block;
    margin-top: 15px;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: 2px solid #ccc;
  padding: 0 10px;
  font-size: 14px;
  transition: all 0.3s ease;
}

input:focus {
    border: 3px solid;
  outline: none;
  border-color: #d84444;
}

button {
      margin-top: 15p3x;
  height: 40px;
  font-weight: 700;
  border-radius: 8px;
  font-size: 15px;
  border: none;
  background-color: #d84444;
  color: #fff;
  transition: 0.3s ease;
  cursor: pointer;
}
