*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}
/* to make the responsiveness easier */
html{
    font-size: 62.5%;
}

.recover_container{
    display: flex;
    background-color: #ffffff;
    width: 100%;
    height: 100vh;
}

.left_panel {
    flex: 1; 
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-right: 1px solid #eee; 
    margin: 5rem 0;
}

.logo_area {
    display: flex;
    align-items: center;
    gap: 8px;
}

.image_placeholder {
    position: absolute; 
}

.top {
    top: -5rem;
    left: -5px;
}

.top img {
    width: 18rem;
    height: 19rem;
}

.bottom { 
    bottom: -12.2rem;
    right: 1.5rem;  
    transform: rotate(-133deg);
}

.bottom img {
    width: 20rem;
    height: 20rem;
}

.right_panel{
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
    font-family: sans-serif;
}

.sec2{
 width: 61.5%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

h3{
    font-size: 3.8rem;
    font-weight: 400;
    margin-bottom: 8rem;
}
.recovery__instruction{
    font-size: 2.2rem;
    margin-bottom: 4rem;
    line-height: 1.5;
}
.email__input{
    width: 45rem;
    font-size: 1.8rem;
}
label{
    display: block;
    
}
input{
    width: 90%;
    padding: 2rem ;
    border: 1px solid #e0e0e0;
    border-radius: .5rem;
    outline: none;
    margin-bottom: 8rem;
}
button{
    background-color: #d84444;
    border: none;
    color: #fff;
    font-size: 2rem;
    padding: 1.5rem 18rem;
    border-radius: 1rem;
}