* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

@media (max-width: 1200px) {
    html {
        font-size: 60%;
    }
}

@media (max-width: 900px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 800px) {
    html {
        font-size: 45%;
    }
}

@media (max-width: 720px) {
    html {
        font-size: 40%;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 30%;
    }
}

body {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #000;
    overflow: hidden;
}


.login_page {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh; 
}

.left_panel {
    flex: 1; 
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-right: 1px solid #eee; 
    margin: 5rem 0;
}

.logo_area {
    display: flex;
    align-items: center;
    gap: 8px;
}

.image_placeholder {
    position: absolute; 
}

.top {
    top: -5rem;
    left: -5px;
}

.top img {
    width: 18rem;
    height: 19rem;
}

.bottom { 
    bottom: -12.2rem;
    right: 1.5rem;  
    transform: rotate(-133deg);
}

.bottom img {
    width: 20rem;
    height: 20rem;
}

.right-panel {
    display: flex;
    flex: 1; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
    font-family: sans-serif;
    margin-top: -15rem;
}

.right-panel h1 {
    font-size: 3.2rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 5rem;
    
}

.right-panel h2 {
    font-size: 2.4rem;
    font-weight: 400;
    font-style: normal;
    text-transform: capitalize;
    padding-bottom: 9.3rem;
}

.redirect_btn {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.redirect_btn > button {
    display: flex;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    width: 60rem;
    height: 6.3rem;
    border: 1px solid #E6E6E6;
    background: transparent;
}
.redirect_btn > button:hover {
    cursor: pointer;
    background: #E6E6E6;
    font-size: 1.5rem;
    transform: translateY(-5px);
    transition: 0.3s;
}

.redirect_btn p {
    font-size: 1.6rem;
    font-weight: 400;
    font-style: normal;
    padding: 1rem;
}

.new_user {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 400;
    font-style: normal;
    gap: 5px;
}
   
.new_user a {
    text-decoration: none;
    color: #000;
    font-weight: bolder;
}
.new_user a:hover {
    color: blue;
    transition: 0.3s;
}